body, html{
    width: 100%;
    height: 100%;
}

.gallery{
    height: fit-content;
    width: fit-content;

    margin-top: 10em;
}

.gallery-con {
    float: left;
    width: 30%;
    padding: 0.6em;

    
}
.gallery-con img{
    border-radius: 10px;
    background-color: rgba(95, 95, 95, 0.4);
}

.gallery-con:hover{
    transform: scale(1.07);
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .gallery-con {
        width: 100%;
    }
    .gallery{
        margin-top: 4em;
    }
}